*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background:black;
    color:aquamarine;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
    color:white;
}
input{
    padding:0.5rem;
    border-radius:0.5rem;
    background:black;
    border:none;
    border:1px solid grey;
    font-size:1.2rem;
    color:springgreen;
    width:100%;
}
.passwordInput{
    position:relative;
    border-radius:0.5rem;
    overflow:hidden;
}
.passwordInput button{
    position:absolute;
    cursor:pointer;
    top:0;
    right:0;
    height:100%;
    padding:0 0.5rem;
    background:linear-gradient(45deg,aquamarine,springgreen);
    border:none;
    cursor:pointer;
    border-left:1px solid springgreen;
}
.std-button{
    padding:0.75rem;
    border-radius:0.5rem;
    background:linear-gradient(45deg,aquamarine,springgreen);
    border:none;
    font-size:1rem;
    color:white;
    font-weight:bold;
}
.navbar{
    height:5rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:2rem;
}
.navbar>    a{
    font-size:2rem;
    font-weight:bold;
}
.navbar ul{
    display:flex;
}
.navbar ul li a{
    margin:0 1rem;
}
.homeContainer,.registerContainer{
    display:grid;
    place-items: center;
    height:calc(100vh - 5rem);
    width:100vw;
}
.markYourAttendance,.successMsgContainer,.errorMsgContainer{
    width:20rem;
    height:20rem;
    border-radius:50%;
    cursor:pointer;
    border:none;
    display:grid;
    place-items:Center;
    text-align:Center;
    margin:0 2rem;
    background:linear-gradient(45deg,aquamarine,springgreen);
    transition:all 0.3s ease;
}
.errorMsgContainer{
    color:black;
    background:linear-gradient(45deg,orange,red);
}
.errorMsgContainer>h1{
    font-size:1.5rem;
    width:70%;
}
.errorMsgContainer:hover{
    box-shadow:1px 1px 40px orange;
}
.successMsgContainer{
    display:none;
    box-shadow:1px 1px 40px springgreen;
}
.markYourAttendance:hover{
    box-shadow:1px 1px 40px springgreen;
}
.markYourAttendance>h1{
    font-size:3rem;
}
.scanYourCard{
    height:20rem;
    width:20rem;
    border:2px dotted aquamarine;

    border-radius:50%;
    display:none;
    place-items: center;
    /* border-radius:2rem; */
    position:relative;
    animation:zoom2 1s ease infinite alternate;
}
@keyframes zoom2{
    to{
        color:grey;
    }
}
.scanYourCard::after{
    content:'';
    width:80%;
    height:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform-origin:50% 50%;
    transform: translate(-50%,-50%);
    background:transparent;
    border-radius:50%;
    z-index:-1;
    border:1px dotted grey;
    animation:zoom 1s ease infinite alternate;

}
.scanYourCard h1{
    text-align:Center;

}
.successMsgContainer h1{
    color:black;
}
@keyframes zoom{
    to{
        width:120%;
        height:120%;
    }
}

.registerMain{
  background:rgb(17, 17, 17);
  padding:4rem;
  border-radius:1rem;
  height:35rem;
  width:40rem;
}
.registerMain .heading h1{
    margin-bottom:4rem;
    font-size:5rem;
}
.registerMain .body{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}
#regsyc{
    display:none;
}
.bodyDashboard{
    height:calc(100vh - 5rem);
    padding:2rem;
}



#delres,#delsyc,#forres,#regres,#errmya{
   display:none;
}
.vbsContainer{
    padding:5rem;
}
.vbsMain{
    display:grid;
    grid-template-columns: repeat(2,1fr);

}
.individualDayDiv{
    display:flex;
    justify-content:space-between;
    align-items:Center;
    margin:2px;
    padding:0.5rem;
    background:rgb(19, 19, 19);
    border-radius:0.5rem;
}
#subtitleDB{
    margin:3rem 1rem 2rem 1rem;
}
#bodyDB{
    display:flex;
    flex-wrap:wrap;
}
#bodyDB>div{
    width:50%;
}
#headingDB{
    margin-top:1rem;
    padding-top:1rem;
    border-top:1px solid aquamarine;
}
#attDB{
    display:grid;

    grid-template-columns: repeat(32,1fr);
    justify-content: center;
    width:fit-content;
    margin:2rem auto;

}
#attDB span{
    padding:0.5rem;
    border:1px solid aquamarine;
    border-radius:0.5rem;
}